body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

table {
  table-layout: fixed;
  width: 100%;
}

table th,
table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table th:first-child,
table td:first-child {
  width: 50px;
}

@media (max-width: 1300px) {
  table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
}
